body{
    background: #313131;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    min-height: 500px;
    padding: 50px;
}
section{
    background: darkgray;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div{
    background-color: transparent;
    margin: auto;
    display: block;
}
div.background{
    background: url("background.png") no-repeat;
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -9999;
	background-size: cover;
    width: 100%;
    height: auto;
}
div.button{
    background-color: #209930;
    color: white;
    align-self: center;
    text-align: center;
    width: 320px;
    vertical-align: middle;
    padding: 35px 0px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 25px;
    z-index: 4;
    transition: padding 1s;
}
div.button:hover{
    transition: box-shadow 0.2s;
    background-color: #4eaa5a;
    cursor: pointer;
    box-shadow: 0 0 10px #95f795;
}
div.button:active{
    transition: box-shadow 0.5s;
    box-shadow: 0 0 20px #57cc57;
}
div.main{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 100vh; 
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    text-align: center;
    display: inline-block;
    margin-right: 100px;
}
a.special-a{
    z-index: -2;
    text-decoration: none;
    color: #DDDDDD;
}
a.special-a:hover{
    color: #00DD00;
}
a.special-a:active{
    color: #00FF00;
    font-weight: 600;
}
footer{
    background: black;
    padding: 10px 20px;
}


#bottom{
    position: absolute;
	bottom: 0;
	left: 0;
	min-width: 100%; 
	height: 45px;
	background-color: #0a000a;
	opacity: 0.85;
	z-index: -1;
	margin: 0 auto;
    text-align: center;
    color: #878de2;
    padding-top: 35px;
}
#top{
    text-align: center;
    position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
	height: 80px;
	background-color: #0a000a;
	opacity: 0.85;
	z-index: -1;
}